<h1>Edit Song</h1>

<form action="/songs/<%= @song.slug %>" method="POST">
<input type="hidden" id="hidden" name="_method" value="patch">

<label for="name">Name:</label> <input type="text" id="name" name="song[name]" value="<%= @song.name %>"></br>
<label for="artist_name">Artist:</label>
<input type="text" id="artist_name" name="artist[name]" value="<%= @song.artist.name %>"></br>

<label>Genres:</label></br>
<% Genre.all.each do |genre| %>
    <input type="checkbox" id="genre_<%= genre.name %>" name="genres[]" value="<%= genre.id %>" <%='checked' if @song.genres.include?(genre) %>><label for="genre_<%= genre.name %>"><%= genre.name %></label></br>
<% end %>
</br>

<input type="submit" value="Save"></br></br>
</form>